#radar-graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radar-graph-heading {
  margin-top: 20px;
  text-align: center;
}

#radar-graph {
  width: 800px;
  height: 800px;
}
